<p id="notice"><%= notice %></p>

<h1>My Books</h1>

<table class="table myTable">
  <thead>
    <tr>
      <th>Book</th>
      <th>User</th>
      <th>From</th>
      <th>To</th>
      <th>Status</th>
      <% if current_user.role == "admin" %>
      <th>Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @book_users.each do |book_user| %>
      <tr>
        <td><%= book_user.book.name%></td>
        <td><%= book_user.user.email %></td>
        <td><%= book_user.from %></td>
        <td><%= book_user.to %></td>
        <td><%= book_user.status.name%></td>
        <% if current_user.role == "admin" %>
        <td>
        <%= link_to 'Show', book_user %>|
        <% if book_user.status.name != "Returned" %>
          <%= link_to 'Edit', edit_book_user_path(book_user) %>|
        <% end %>  
        <%#= link_to 'Destroy', book_user, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Book User', new_book_user_path %>
